$small_mobile: 320px;
$medium_iphone: 599px;
// $medium_iphone:575px;
$sm_mobile: 600px;
$large_phone: 767px;
$tablet_up: 768px;
$tablet: 991px;
$desktop_pro_up: 992px;
$desktop_pro: 1023px;
$desktop_md: 1024px;
$desktop: 1199px;
$desktop_up: 1200px;
$desktop_up_lg: 1366px;
$desktop_max: 1500px;
