// HFE Themes Colors
$primary_color: #4F46E5;
$primary_text_color: #1F2937;
$secondary_text_color: #4B5563;
$border_light_color: #E5E7EB;
$input_border-color: #E2E4E9;
$error_color: #DF1C41;
$White_color: #ffffff;
$light_blue_hover:#EEF2FF;
$light_bg_color:#F9FAFB;


$bg_light_color: #f5f9f9;
$yellow_light_color: #f7f3e7;
$dark_text_color: #262626;
$red_color: #ff1f00;
$light_yellow_color: #f7f3e7;

