// HFE Themes Colors
$primary_color: #4F46E5;
$primary_text_color: #0a0d14;
$secondary_text_color: #525866;
$bg_light_color: #f5f9f9;
$border_light_color: #f3f3f3;
$White_color: #ffffff;
$yellow_light_color: #f7f3e7;
$dark_text_color: #262626;
$red_color: #ff1f00;
$error_color: #df1c41;
$light_yellow_color: #f7f3e7;

