//Variable font-Size
$font_xs: 12px;
$font_sm: 14px;
$font_md: 16px;
$font_lg: 18px;
$font_xl: 20px;
$font_2xl: 24px;
$font_3xl: 32px;
$font_4xl: 48px;

// Variable font wight
$font_light: 300;
$font_normal: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;
$font_extrabold: 800;
$font_black: 900;
