@import "../../assets/css/variable/variable";


.course-details-dialog {
    .MuiDialog-container {
        .MuiDialog-paper {
            width: 100%;
            max-width: 1000px;
            border-radius: 16px;

            .MuiDialogContent-root {
                &.course-details-content {
                    .course-details-content-top {
                        display: flex;
                        gap: 24px;
                        padding-bottom: 32px;

                        @include large_mobile {
                            flex-wrap: wrap;
                        }

                        @include small_mobile {
                            flex-wrap: wrap;
                        }

                        .course-content-img {
                            width: 200px;
                            min-width: 200px;
                            height: 200px;
                            border-radius: 8px;
                            border: 1px solid $border_light_color;
                            overflow: hidden;

                            img {
                                width: 100%;
                                object-fit: cover;
                                border-radius: 8px;
                            }
                        }

                        .details-content-top {
                            .card-title {
                                font-size: 20px;
                                line-height: 20px;
                                font-weight: 500;
                                margin-bottom: 16px;
                                font-family: $font_family_body;
                                color: $primary_text_color;
                            }

                            .card-subtitle {
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                                font-family: $font_family_body;
                                color: $secondary_text_color;
                                margin-bottom: 32px;
                            }

                            .course-duration-block {
                                display: flex;
                                align-items: center;
                                gap: 16px;
                                margin-bottom: 32px;

                                @include large_mobile {
                                    flex-wrap: wrap;
                                }

                                @include small_mobile {
                                    flex-wrap: wrap;
                                }

                                .course-weeks {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: $secondary_text_color;
                                    font-family: $font_family_body;
                                    display: flex;
                                    align-items: center;
                                    gap: 4px;
                                }

                                .course-hrs-weeks {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: $secondary_text_color;
                                    font-family: $font_family_body;
                                    display: flex;
                                    align-items: center;
                                    gap: 4px;
                                }
                            }
                        }
                    }

                    .course-details-conetnt-body {
                        padding: 32px 0px;
                        border-top: 1px solid $input_border-color;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        // border-bottom: 1px solid $input_border-color;
                        .MuiAccordion-root {
                            border-radius: 8px;
                            border: 0px;

                            .MuiAccordion-heading {
                                .MuiButtonBase-root {
                                    font-family: $font_family_body;

                                    @include small_mobile {
                                        align-items: baseline;
                                    }

                                    .MuiAccordionSummary-content {
                                        .header-conetnt {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            gap: 16px;
                                            width: 100%;

                                            @include small_mobile {
                                                flex-wrap: wrap;
                                                gap: 4px 16px;
                                            }

                                            .header-conetnt-text {
                                                font-size: 16px;
                                                font-weight: 500;
                                                color: $primary_text_color;
                                                font-family: $font_family_body;
                                            }

                                            .header-conetnt-time {
                                                font-size: 14px;
                                                font-weight: 400;
                                                color: $secondary_text_color;
                                                font-family: $font_family_body;
                                            }
                                        }
                                    }
                                }
                            }

                            .MuiCollapse-root {
                                .MuiCollapse-wrapper {
                                    .MuiCollapse-wrapperInner {
                                        .MuiAccordion-region {
                                            .MuiAccordionDetails-root {
                                                border: 0px;

                                                .accordian-panel-body {
                                                    border-left: 1px solid $input_border-color;

                                                    .panel-content-list {
                                                        display: flex;
                                                        flex-direction: column;
                                                        gap: 8px;
                                                        padding-left: 24px;

                                                        .panel-content-items {
                                                            text-decoration: none;
                                                            display: flex;
                                                            justify-content: space-between;
                                                            gap: 16px;
                                                            background-color: $White_color;
                                                            padding: 12px;
                                                            border-radius: 4px;

                                                            @include small_mobile {
                                                                flex-wrap: wrap;
                                                            }

                                                            .content-items-text {
                                                                display: flex;
                                                                align-items: center;
                                                                gap: 8px;

                                                                @include small_mobile {
                                                                    flex-wrap: wrap;
                                                                }

                                                                span {
                                                                    font-size: 16px;
                                                                    font-weight: 400;
                                                                    color: $secondary_text_color;
                                                                    font-family: $font_family_body;
                                                                }
                                                            }

                                                            .times-text {
                                                                font-size: 14px;
                                                                font-weight: 400;
                                                                color: $secondary_text_color;
                                                                font-family: $font_family_body;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .course-details-footer {
                padding: 20px 24px;
                display: flex;
                align-items: center;
                gap: 16px;
                border-top: 1px solid $input_border-color;

                @include small_mobile {
                    flex-wrap: wrap;
                }

                button {
                    height: 44px;
                }
            }
        }
    }
}